<footer class="fondo">
  <div class="row justify-content-center">
   <div class="col-md-6">
     <div class="row">
      <div class="col-md-3">
         
            <ul>
              <li>
                  <h3>Resources</h3>
              </li>
                <li>
                  <a href="https://angular.io/about?group=Angular">about</a>
                </li>
                <li>
                  <a href="https://angular.io/resources">Resource Listing</a>
                </li>
                <li>
                    <a href="https://angular.io/presskit">Press KIt</a>
                 </li>
                 <li>
                    <a href="https://blog.angular.io/">Blog</a>
                  </li>
              </ul>
        </div>
      
        <div class="col-md-3">
            <ul>
                <li>
                    <h3>HELP</h3>
                </li>
                  <li>
                    <a href="https://stackoverflow.com/questions/tagged/angular">Stack Overflow</a>
                  </li>
                  <li>
                    <a href="https://gitter.im/angular/angular">   Gitter</a>
                  </li>
                  <li>
                      <a href="https://github.com/angular/angular/issues"> Report Issues</a>
                   </li>
                   <li>
                      <a href="https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a>
                    </li>
              </ul>
          
        </div>
        <div class="col-md-3">
            <ul>
                <li>
                    <h3>Community</h3>
                </li>
                  <li>
                    <a href="https://angular.io/events">
                      Events
                       
                    </a>
                  </li>
                  <li>
                    <a href="https://www.meetup.com/topics/angularjs/?_cookie-check=CzIaCovDmoc3DDxB">  Meetup</a>
                  </li>
                  <li>
                      <a href="https://twitter.com/angular"> Twitter</a>
                   </li>
                   <li>
                      <a href="https://github.com/angular/angular">GitHub</a>
                    </li>
                    <li>
                        <a href="https://angular.io/contribute">Contribute</a>
                     </li>
              </ul>
          
          
        </div>
        <div class="col-md-3">
            <ul>
                <li>
                    <h3>Languages</h3>
                </li>
                 
                  <li>
                    <a href="https://angular.cn/">    中文版</a>
                  </li>
                  <li>
                      <a href="https://angular.jp/"> 日本語版</a>
                   </li>
                   
              </ul>
          
          
        </div>
      </div>
              <p> Powered by Google ©2010-2018. Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.

                  Version 6.1.1-build.47304+sha.d4bf2da. </p>
      </div>
   </div>

</footer>
   


                        
                        


    


  
    