

/*estilos textos */

h1{
    font-size: 40px;
    line-height: 64px;
    font-weight: 500;
    margin: 32px 0;
    color:white;
  
}
h4{
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
}
h5{
    padding-top: 100px;
    color: #1976d2;;
}
p{
    font-size: 14px;
    padding-top: 50px;
}

/*estilos botones */
.boton{
    color: #1976d2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 40px;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    background-color:white;
    border-radius: 48px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-sizing: border-box;
    cursor: pointer;
}
 a:hover {
    background-color:#f3f3f399;
    text-decoration: none;
}
.boton2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 40px;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    background-color:#1976d2;
    border-radius: 48px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-sizing: border-box;
    cursor: pointer;
margin-top: 25px;
}

boton2 a:hover{
    background-color:#f3f3f399;
    text-decoration: none;

}
.volumen{
    margin-top: 80px; 
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.49);
    width: 50%;
}
.mix{
    height: 56%;
    width: 76%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
img{
    width: 400px;
    height: 400px;
}
.mapa{
    width: 100%;
}



hr{
    border: none;
background: #dbdbdb;
height: 2px;
width: 1120px;

    
}


#mix2{
    padding-top: 25px;
    padding-bottom: 1px;

}